/* styles.css */
.logo {
    width: 220px;
    height: 120px;
    }
    
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c6c78b;
    color: #333;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.menu {
    background-color: #f4cca8;
    color: #333;
    padding: 10px;
    text-align: center;
    width: 100%; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}


.main-content {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

footer {
    background-color: #c6c78b;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 { font-family: arial, sans-serif;
    font-size: 20px;
    margin-top: auto;
    margin-left: auto;
    padding: 20px;}
    
    
    .parrafoUno { text-align: justify;
    font-family: arial, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    padding: 10px;}
    .parrafoDos { text-align: justify;
    font-family: arial, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    padding: 10px;}
    
    
    h3 { font-size:18px;
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        padding: 20px;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

.contenido{
    max-width: 1100px;
    width: 200px;
    margin: 40px;
    padding-left: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.mostrador{
    width: 60%;
    transition: 5s ease;
}
.mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mostrador .fila .item{
    max-width: 210px;
    padding: 50px;
    height: 250px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: 3s;
    margin-left: 80px;
    margin-right: 80px;
}

.mostrador .fila .item:hover{
    background-color: #f4cca8 ;
}
.mostrador .fila .item img{
width: 100%;
margin: 30px 0;
}

.mostrador .fila .item .descripcion{
    color: #090d13;
    font-weight: bold;
    font-family: verdana;
    font-size: 15px;
}

.mostrador .fila .item .precio{
    color: #f2766b;
    font-weight: bold;
    font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

.contenido{
    max-width: 1100px;
    width: 200px;
    margin: 40px;
    padding-left: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.mostrador{
    width: 60%;
    transition: 5s ease;
}
.mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.mostrador .fila .item{
    max-width: 210px;
    padding: 50px;
    height: 250px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: 3s;
    margin-left: 80px;
    margin-right: 80px;
}

.mostrador .fila .item:hover{
    background-color: #f4cca8 ;
}
.mostrador .fila .item img{
width: 100%;
margin: 30px 0;
}

.mostrador .fila .item .descripcion{
    color: #090d13;
    font-weight: bold;
    font-family: verdana;
    font-size: 15px;
}

.mostrador .fila .item .precio{
    color: #f2766b;
    font-weight: bold;
    font-size: 15px;
}

.parrafoTres { font-family: verdana;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px;
color: #090d13;}
.parrafoCuatro { font-family: verdana;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px;
color: #090d13;}
.parrafoCinco { font-family: verdana;
        text-align: justify;
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px;
        color: #090d13;}
.parrafoSeis { font-family: verdana;
            text-align: justify;
            margin-top: auto;
            margin-bottom: auto;
            padding: 10px;
            color: #090d13;}
.parrafoSiete { font-family: verdana;
                text-align: justify;
                margin-top: auto;
                margin-bottom: auto;
                padding: 10px;
                color: #090d13;}
.parrafoOcho { font-family: verdana;
                    text-align: justify;
                    margin-top: auto;
                    margin-bottom: auto;
                    padding: 10px;
                    color: #090d13;}
.parrafoNueve { font-family: verdana;
                        text-align: justify;
                        margin-top: auto;
                        margin-bottom: auto;
                        padding: 10px;
                        color: #090d13;}
                        div form {
                            text-align: center;
                        }
                        * {
                            box-sizing: border-box;
                        }
                        
                        body {
                            background: white;
                            color: #fff;
                            line-height: 1.6;
                            font-family: 'Quicksand', sans-serif;
                            padding: 0 1.5em;
                        }
                        
                        .container {
                            max-width: 1170px;
                            margin-left: auto;
                            margin-right: auto;
                            padding: 1.5em;
                        }
                        
                        ul {
                            list-style: none;
                            padding: 0;
                        }
                        
                        .logo {
                            text-align: center;
                            font-size: 30px;
                            color: #090d13;
                            margin-top: 5px;
                        }
                        
                        
                        .contact-wrapper {
                            box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
                        }
                        
                        .contact-wrapper > * {
                            padding: 1em;
                        }
                        
                        .contact-form {
                            background: white;
                            color: black
                        }
                        
                        .contact-form form {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                        }
                        
                        .contact-form form label {
                            display: block;
                            color: #090d13;
                        }
                        
                        .contact-form form p {
                            margin: 0;
                            padding: 1em;
                        }
                        
                        .contact-form form .block {
                            grid-column: 1 / 3;
                        }
                        
                        .contact-form form button,
                        .contact-form form input,
                        .contact-form form textarea {
                            width: 100%;
                            padding: .7em;
                            border: none;
                            background: none;
                            outline: 0;
                            color: black;
                            border-bottom: 1px solid #f4cca8;
                        }
                        
                        .contact-form form button {
                            background: #f4cca8;
                            border: 0;
                            text-transform: uppercase;
                            padding: 1em;
                        }
                        
                        .contact-form form button:hover,
                        .contact-form form button:focus {
                            background: #f4cca8;
                            color: black;
                            transition: background-color 1s ease-out;
                            outline: 0;
                        }
                        
                        /* CONTACT INFO */
                        .contact-info {
                            background: white;
                        }
                        
                        .contact-info h4, .contact-info ul, .contact-info p {
                            text-align: center;
                            margin: 0 0 1rem 0;
                            color: black;
                        }
                        
                        /* LARGE SIZE */
                        @media(min-width: 700px) {
                            body {
                                padding: 0 4em;
                            }
                            .contact-wrapper {
                                display: grid;
                                grid-template-columns: 2fr 1fr;
                            }
                            .contact-wrapper > * {
                                padding: 2em;
                            }
                            .contact-info h4,
                            .contact-info ul,
                            .contact-info p {
                                text-align: left;
                            }
                        } 
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
   
    
}

@media only screen and (min-width: 1025px) {
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
  }
  
  
  @media (min-width: 481px) and (max-width: 767px) {

  }
    
  @media only screen and (min-width : 321px) {
  
  }
  
  @media only screen and (max-width : 320px) {
  
  }
   
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
  }
   
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
  and (orientation : landscape) {
   
  }
   
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
  and (orientation : portrait) {
   
  }
     
  @media only screen and (min-width : 1224px) {
    
  }
   
  
  @media only screen and (min-width : 1824px) {
    
  }
    
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), 
  only screen and (min-device-pixel-ratio : 1.5) {
   
  }